{% extends "base.html" %}
{% block body %}
    <!--Body content-->
    <a href="http://jquery.com/">jQuery</a>
    {{username}}
        <form method="POST" class="form-horizontal">
            <input type="text" id="username" name="username" placeholder="Login">
            <button type="submit" class="btn">Sign in</button>
        </form>

{% endblock %}

{% block javascript %}
     <script>
        $(document ).ready(function() {
            $( "a" ).click(function( event ) {
                alert( "The link will no longer take you to jquery.com" );
                event.preventDefault();
            });
        });
    </script>
{% endblock %}
